@keyframes blink {
  0% {
    background-color: var(--secondary-button-color);
    box-shadow: 0 0 0.75rem 0 var(--secondary-button-color);
  }

  100% {
    background-color: var(--secondary-active-button-color);
    box-shadow: 0 0 0.25rem var(--secondary-active-button-color);
  }
}

@keyframes animate-spin {
  to {
    transform: rotate(360deg);
  }
}