@import './mixins';

.auth {
  padding: 2rem 0;

  &__container {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 1rem);
    @include container;
  }

  &__text {
    @include text(var(--tertiary-text-color));
    text-align: center;
  }

  &__card {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 2rem);
    max-width: 256px;
    margin: 0 auto;
    padding: 2rem;
    transition: var(--primary-all-transitions);

    @include desktop() {
      gap: 2.5rem;
      max-width: 512px;
      padding: 3rem;
      box-sizing: border-box;
    }

    &--shadow {
      box-shadow: 0 0 0.75rem 0.0625rem var(--secondary-shadow-color);

      @include desktop() {
        box-shadow: 0 0 1rem 0.125rem var(--secondary-shadow-color);
      }
    }
  }

  &__card-header {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 0.5rem);
    text-align: center;
  }

  &__card-title {
    @include text(var(--primary-text-color), 800, 2rem, var(--secondary-font-family));

    @include desktop() {
      font-size: 2.5rem;
    }

    &--partner {
      @include text(var(--secondary-text-color), 600, 1rem, var(--secondary-font-family));

      @include desktop() {
        font-size: 1.125rem;
      }
    }
  }

  &__card-message {
    @include text(var(--tertiary-text-color));

    &--partner {
      @include text(var(--secondary-text-color));
    }
  }

  &__form {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 2rem);

    &--grid-cols-2-gap-8 {
      @include desktop() {
        @include d-grid-gtc-g(1fr 1fr, 2rem);
      }
    }
  }

  &__form-input-container {
    position: relative;
    @include d-flex-fd-ai-jc-g(column);
  }

  &__form-input {
    background: transparent;
    border: none;
    border-bottom: 0.0625px solid var(--quinary-text-color);
    @include text(var(--tertiary-text-color), 300, 1rem);
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;

    &:invalid {
      border-color: var(--secondary-highlight-color);
      color: var(--secondary-highlight-color);

      &::placeholder {
        color: var(--secondary-highlight-color);
      }
    }

    @include desktop() {
      font-size: 1.125rem;
    }
  }

  &__form-error {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--primary-invalid-text-color);
    font-size: 0.75rem;
    transition: var(--primary-all-transitions);

    @include desktop() {
      left: 0.5rem;
      right: auto;
    }
  }

  &__button-container {
    @include d-flex-fd-ai-jc-g(row, stretch, center, 0.75rem);

    &--col-span-2 {
      grid-column: span 2;
    }

    &--flex-column {
      flex-direction: column;
    }
  }

  &__form-recover-password {
    @include text(var(--tertiary-text-color));
    text-align: center;
    text-decoration: none;

    @include desktop() {
      font-size: 0.875rem;
    }
  }

  &__primary-button {
    align-self: center;
    @include button(var(--primary-button-color), #0050b280, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--primary-active-button-color));

    @include desktop() {
      font-size: 1rem;
    }
  }

  &__secondary-button {
    align-self: center;
    @include button(var(--secondary-button-color), #e302467a, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--secondary-active-button-color));

    @include desktop() {
      font-size: 1rem;
    }
  }
}