@import './mixins';

.auth-header {
  background-color: var(--primary-theme-color);
  border-top: 0.25rem solid var(--primary-text-color);
  border-bottom: 0.25rem solid var(--primary-text-color);
  box-shadow: 0 0.25rem 0.75rem 0 var(--secondary-shadow-color);
  transition: var(--secondary-all-transitions);
}

.auth-header-nav {
  padding: 0.75rem 0;

  &__container {
    @include d-flex-fd-ai-jc-g(row, center, space-between, 0);
    @include container;
  }

  &__back-button {
    @include d-flex-fd-ai-jc-g(row, center, stretch, 0.25rem);
    background-color: transparent;
    border: none;
    @include text(var(--primary-text-color), 400, 0.875rem);
    padding: 0;
    cursor: pointer;
  }

  &__back-button-icon {
    @include icon(var(--primary-text-color), 1rem);
  }

  &__home-logo {
    @include text(var(--tertiary-text-color), 900, 1.25rem);
    line-height: 1.5rem;
    text-decoration: none;

    @include desktop() {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}