@import './mixins';

.authentication-recover {
  &__card-recover-form {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 1.5rem);
  }

  &__card-recover-input {
    @include input;
  }

  &__card-recover-button-container {
    align-self: center;
    @include d-flex-fd-ai-jc-g(row, center, stretch, 0.75rem);
  }

  &__card-recover-login {
    @include button(var(--primary-button-color), #0050b280, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--primary-active-button-color));

    @include desktop() {
      font-size: 1rem;
    }
  }

  &__card-recover-button {
    @include button(var(--primary-button-color), #0050b280, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--primary-active-button-color));
    align-self: center;

    @include desktop() {
      font-size: 1rem;
    }
  }

  &__card-partner-link-container {
    @include d-flex-fd-ai-jc-g(row, stretch, center, 0.75rem);

    @include desktop() {
      gap: 2rem;
    }
  }

  &__card-partner-login {
    @include button(var(--primary-button-color), #0050b280, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--primary-active-button-color));
    align-self: center;

    @include desktop() {
      font-size: 1rem;
    }
  }

  &__card-partner-register {
    @include button(var(--secondary-button-color), #e302467a, var(--primary-border-radius), 0.75rem, 400, 0.625em 1.125em, var(--secondary-active-button-color));

    @include desktop() {
      font-size: 1rem;
    }
  }
}