@import './mixins';

.footer {
  box-shadow: 0 0 0.75rem 0 var(--secondary-shadow-color);
  margin-top: auto;
  transition: var(--secondary-all-transitions);
}

.footer-nav {
  background-color: var(--tertiary-text-color);
  padding: var(--padding-section);
  transition: var(--secondary-all-transitions);

  &__container {
    @include d-grid-gtc-g(1fr 1fr, 2.5rem);
    @include container;

    @include desktop() {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;
    }
  }

  &__link-list {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 1rem);
    margin: 0;
    padding: 0;
    list-style: none;

    @include desktop() {
      gap: 1.5rem;
    }
  }

  &__link-item {
    display: flex;
  }

  &__link {
    @include text(var(--inverse-primary-text-color), 700, 0.75rem);
    text-decoration: none;

    &:hover {
      color: var(--inverse-secondary-text-color);
      transform: scale(1.05);
    }
  }

  &__contact-container {
    @include d-flex-fd-ai-jc-g(column, flex-start, stretch, 1.5rem);

    @include desktop() {
      gap: 2rem;
    }
  }

  &__contact-message {
    @include text(var(--inverse-secondary-text-color));
  }

  &__contact-social-networks {
    @include d-flex-fd-ai-jc-g(row, stretch, stretch, 1rem);
    flex-wrap: wrap;
  }

  &__contact-social-network {
    @include icon(var(--inverse-primary-text-color), 2.5rem);

    &:hover {
      color: var(--inverse-secondary-text-color);
      transform: scale(1.125);
    }
  }

  &__contact-link {
    @include d-flex-fd-ai-jc-g(row, center, stretch, 0.5rem);
    box-shadow: 0 0 0.5rem 0 var(--primary-shadow-color);
    border: 0.0625rem solid var(--inverse-primary-text-color);
    border-radius: var(--secondary-border-radius);
    padding: 0.75rem;
    text-decoration: none;
    transition: var(--primary-all-transitions);

    &:hover {
      color: var(--inverse-secondary-text-color);
      transform: scale(1.05);
      box-shadow: 0 0 0.5rem 0 var(--inverse-tertiary-text-color);
    }

    @include desktop() {
      padding: 1rem;
      gap: 1rem;
    }
  }

  &__contact-link-envelope {
    @include icon(var(--inverse-primary-text-color), 2rem);
  }

  &__contact-link-message {
    @include text(var(--inverse-primary-text-color));
  }

  &__mobile-info {
    grid-column: span 2;
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 2.5rem);

    @include desktop() {
      grid-column: auto;
      gap: 3rem;
    }
  }

  &__mobile {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 1.5rem);

    @include desktop() {
      gap: 2rem;
    }
  }

  &__mobile-message {
    @include text(var(--inverse-primary-text-color));
  }

  &__mobile-image-container {
    @include d-grid-gtc-g(1fr 1fr, 1rem);
    justify-items: center;

    @include desktop() {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  &__mobile-image-link {
    display: flex;
    text-decoration: none;
  }

  &__mobile-image {
    width: auto;
    height: 3rem;

    @include desktop() {
      width: 192px;
      height: auto;
    }
  }

  &__info {
    @include d-flex-fd-ai-jc-g(column, stretch, stretch, 0.5rem);

    @include desktop() {
      gap: 1rem;
    }
  }

  &__info-subtitle {
    @include text(var(--inverse-secondary-text-color), 700);
  }

  &__info-message {
    @include text(var(--inverse-secondary-text-color));
  }

  &__info-message-link {
    color: var(--secondary-highlight-color);
    transition: var(--primary-all-transitions);
  }
}

.footer-nav-footer {
  background-color: var(--primary-theme-color);
  border-top: 0.25rem solid var(--secondary-highlight-color);
  padding: 1.5rem 0;
  transition: var(--secondary-all-transitions);

  &--auth {
    padding: 1rem 0;
    border-bottom: 0.25rem solid var(--secondary-highlight-color);
  }

  @include desktop() {
    border-top: 0.375rem solid var(--secondary-highlight-color);
    padding: 1.75rem 0;

    &--auth {
      border-top: 0.25rem solid var(--secondary-highlight-color);
      border-bottom: 0.25rem solid var(--secondary-highlight-color);
      padding: 1.25rem 0;
    }
  }

  &__container {
    @include d-flex-fd-ai-jc-g(row, center, space-around, 1rem);
    @include container;
  }

  &__subtitle {
    @include text(var(--primary-text-color), 700, 0.625rem);
    text-align: center;
    text-decoration: none;

    @include desktop() {
      font-size: 0.875rem;
    }

    &--icon {
      @include d-flex-fd-ai-jc-g(row, center, center, 0.25rem);

      @include desktop() {
        gap: 0.5rem;
      }
    }
  }

  &__subtitle-author {
    color: var(--primary-highlight-color);
    font-weight: 700;
    transition: var(--primary-all-transitions);
  }

  &__subtitle-icon {
    font-size: 1.25rem;

    @include desktop() {
      font-size: 1.5rem;
    }
  }
}