.slick-slider {
  height: 100vh;
}

.slick-slider::before {
  content: '';
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(transparent, var(--secondary-theme-color));
  pointer-events: none;
}


.slick-slider .slick-arrow {
  width: 4rem;
  height: 4rem;
  z-index: 5;
}

.slick-slider .slick-arrow::before {
  font-size: 3rem;
  line-height: 4rem;
  transition: var(--primary-all-transitions);
}

.slick-slider .slick-prev {
  left: 1rem;
}

.slick-slider .slick-next {
  right: 1rem;
}

.slick-slider .slick-dots {
  bottom: 1.5rem;
}

.slick-slider .slick-dots button::before {
  color: var(--primary-button-text-color);
  font-size: 1rem;
  transition: var(--secondary-all-transitions);
}

.slick-slider .slick-dots .slick-active button::before {
  color: var(--primary-button-text-color);
  font-size: 1.25rem;
}